TG_TOKEN=${TG_TOKEN}
TG_ADMIN_ID=${TG_ADMIN_ID}
WEBHOOK_ENABLE=0
SQLALCHEMY_DATABASE_URI=${SQLALCHEMY_DATABASE_URI}
CURRENCY_API_KEY=${CURRENCY_API_KEY}
MAIN_CURRENCY=${MAIN_CURRENCY}
BOT_IMAGE=${BOT_IMAGE}
